<header>		
    <div class="hiTresna">
            <a>iTresna</a>
    </div>

    <nav id="administracion">
        <ul>
            <li><a href=".html"><img class="imgMenu" src="assets/menu.svg" alt="Menu"></a>
                <ul>
                    <li><a href=".html">Perfil</a></li>
                    <li><a href=".html">Administración</a></li>
                    <li><a href=".html">Cerrar sesión</a></li>
                </ul>
            </li>
        </ul>
        </nav>
</header>

<!-- Menu-->
<nav id="menu">
    <ul>
        <li><a href=".html">Rutina de observación</a></li>
        <li><a href=".html">Portafolios</a></li>
        <li><a href=".html">Rutina de explotación</a></li>
        <li><a href=".html"></a></li>
        <li><a href=".html"></a></li>
        <li><a href=".html"></a></li>
        <li><a href=".html"></a></li>
        <li><a href=".html"></a></li>
        <li><a href=".html"></a></li>
        <li><a href=".html"></a></li>
    </ul>
</nav>

<div>
    <ul class="listaSenales">
        <li>
            <app-senales></app-senales>
        </li>
    </ul>
</div>