<app-header-generico></app-header-generico>

<!-- Menu-->
<nav id="menu">
    <div class="espacio"><p>{{espacio.desc_esp}}</p></div>
    <div class="cop"><p>{{cop.desc_cop}}</p></div>
</nav>

<div class="contenedorSeñales">

    <button class="botonFiltrar" (click) = visibilidad() type="submit">Filtrar</button>
    <a *ngIf="tienePermisos()">
        <button class="botonCurar"  type="submit">Curar</button>
    </a>
    
    
    <div class="filtrado" *ngIf="visible">

            <select name="filtro" class="filtrar">
                <option value="fechaAsc" > Por fecha ascendente</option>
                <option value="fechaDesc" > Por fecha descendente</option>
                <option Value="likes" > Por likes</option>
                <option value="comentarios" > Por comentarios</option>
            </select>

            <select name="filtroUsuarios"  class="filtrar">
                <option value="usuarios" > Por usuarios</option>
                <option value="usu1" > usuario1</option>
                <option value="usu2" > usaurio2</option>
            </select>

            <select name="filtroEtiquetas"  class="filtrar">
                <option value="etiquetas" > Por etiquetas</option>
                <option value="et1" > etiqueta1</option>
                <option value="et2" > etiqueta2</option>
                
            </select>


    </div>
</div>

<div>
    <ul class="listaSenales">
        <li *ngFor="let item of listaSenales">
            <app-senales [senal]="item"></app-senales>
        </li>
    </ul>

    <a href="" class="float"><p>+</p></a>
</div>

