<app-header-generico></app-header-generico>

<!-- Menu-->
<nav id="menu">
    <ul>
        <li *ngFor="let item of listaEspacios;let i = index" [ngClass]="(item.cod_esp===cod_esp) ? 'seleccionado':'noSeleccionado'">{{item.desc_esp}}</li>
    </ul>
    <ul id="menuSeparador">
        <li *ngFor="let item of listaCops" [ngClass]="(item.cod_cop===copSeleccionado) ? 'seleccionado':'noSeleccionado'">{{item.desc_cop}}</li>
    </ul>
</nav>

<div>
    <ul class="listaSenales">
        <li>
            <app-senales></app-senales>
        </li>
    </ul>
</div>