/*Menu espacios y cops*/
#menu{
    list-style-type: none;
    margin: 2em;
    margin-top: 7.5em;
    background-color: #760f82;
    border-radius: 1em;
    color: white;
    padding: 0%;
}
.atras{
    width: 30%;
    display: inline-block;
}
.atras img{
    position: relative;
    height: 30px;
    width: 30px;
    left: 2rem;
    transform: rotateZ(-90deg);
}
.atras img:hover{
    cursor: pointer;
}
.localizacion{
    padding: 1%;
    width: 70%;
    margin: 0%;
    display: inline-block;
    margin: auto;
    text-align: left;
}
.localizacion>*{
    margin: 0;
    margin-left: 1%;
    text-align: center;
    display: inline-block;
}
.selectorCop{
    color:white;
    background: #D5B7D9;
    border-color: black;
    border-width: 1px;
    
}
.dropDownItem{
    background: #D5B7D9;
}
.dropDownItem>*{
    background: #D5B7D9;
}
.dropDownItem>*:hover{
    background: white;
}
.opciones{
    text-align: center;
    margin: 3%;
}
.label-separator{
    margin-right: 1em;
    margin-left: 1em;
}
.botonCurar{

   margin-left: 1em;
    display: inline-block;
    
}
.descurar{
    text-align: center;
    margin: auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 3%;
}
li{
    margin:2%;
    padding: 0;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    
}
.float:hover{
    cursor: pointer;
    color:#000;
    background-color:yellowgreen;
}

.my-float{
	margin-top:22px;
}
.custom-select{
    width: 13em;
    display: inline-block;   
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' v…0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
}