
<IfModule mod_rewrite.c>
  RewriteEngine on

  #Reglas de acceso a espacios
  #Factura detallada de un usuario
  RewriteRule ^facturas/usuario/([a-zA-Z0-9_-]+)/factura/([a-zA-Z0-9_-]+)/tipo/([a-zA-Z0-9_-]+)$ facturas/?idUsuario=$1&idFactura=$2&tipo=$3 [L]
  RewriteCond %{HTTP_HOST} ^http://itresna.fptxurdinaga.in/Principal$ [NC]

</IfModule>