<section>
    <mat-form-field>
        <mat-label>Selecciona un espacio</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="cargarCops()" >
            <mat-option *ngFor="let item of espacios;let i=index" [value]="i">
                {{item.desc_esp}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <div class="tablaCops">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Editar</th>
                <th>Borrar</th>

            </tr>
            <tr *ngFor="let item of cops;let i=index"  class="fila">
                <td>{{item.desc_cop}}</td>
                <td>
                    <button (click)="editar(item.cod_org,item.cod_esp,item.cod_cop)">
                        <img class="papelera" src="assets/edit.png" alt="papelera">
                    </button>
                </td>
                <td>
                    <button (click)="borrar(item)">
                        <img class="papelera" src="assets/papelera.png" alt="papelera">
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button class="btnAñadir">
                        <p>AÑADIR</p>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</section>
