
<ng-container style="z-index: 1000;">
    <div class="modal-header">
        <h4 class="modal-title">Comentarios</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="comentarios">
            <ul>
                <li *ngFor="let item of comentarios" class="comentario"> 
                    {{item.cod_usuario}}: {{item.comentario}}
                </li>
            </ul>
        </div>
    </div>
</ng-container>
        