<!--  https://blog.angular-university.io/angular-material-dialog/ -->
<h2 mat-dialog-title>Nueva Señal</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput
            placeholder="URL"
               formControlName="url">
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Descripcion"
               formControlName="descripcion">
    </mat-form-field>
    <mat-form-field>
            <mat-select placeholder="Elige una etiqueta" formControllerName="etiqueta" >
                <mat-option *ngFor="let item of etiquetas" [value]="item.cod_etiqueta">
                    {{item.desc_etiqueta}}
                </mat-option>
            </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
<!--  https://blog.angular-university.io/angular-material-dialog/ -->