@import "./../../assets/colors.css";

table {
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

table tr th{
    border-bottom: 1px solid black;
}

button{
    background: transparent;
    border-radius: 0.75rem;
}

img{
    height: 30px;
    width: 30px;
    background: transparent;
}

input{
    width: auto;
    margin-left: 5%;
    margin-bottom: 1.8%;
    border-bottom: 1px solid black;
}

.clickable:hover{
    cursor: pointer;
}

.btnAñadir{
    width: 100%;
    background-color: var(--colorCopsActivas);
}

.filtro{
    text-align: center;
    width: 100%;
    margin: 0;
    margin-right: 5%;
    margin-top: 3%;
}

.filtro *{
    width: 40%;
    display: inline-block;
    text-align: center;
}

/*clases libreria mat*/
