<app-header-generico></app-header-generico>

<section  class="filtro">
    <mat-form-field>
        <mat-label> Filtrar por: </mat-label>
        <mat-select [(value)]="selected" (selectionChange)="cargarOrganizacionesOrdenadas($event.value)" >
            <mat-option value=0>
                Ascendente
            </mat-option>
            <mat-option value=1>
                Descendente
            </mat-option>
            <mat-option value=2>
                Contacto
            </mat-option>
        </mat-select>
    </mat-form-field>

    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Contacto" name="filtroContacto" *ngIf="show">
</section>

<section class="organizaciones">
    <table>
        <tr>
            <th>
                ORGANIZACION
            </th>
            <th>
                CONTACTO
            </th>
            <th>
                MODIFICAR
            </th>
            <th>
                ELIMINAR
            </th>
        </tr>
        <tr *ngFor="let item of listaOrganizacion">
            <td class="clickable" >
                {{item.desc_org}}
            </td>
            <td>
                {{item.contacto}}
            </td>
            <td>
                <button (click)="setItem(item)">
                    <img src="assets/edit.png" alt="img">
                </button>
            </td>
            <td>
                <button (click)="borrar(item)">
                    <img src="assets/papelera.png" alt="img">
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button (click)="nueva()" class="btnAñadir">
                    <p>AÑADIR</p>
                </button>
            </td>
        </tr>
    </table>
</section>