<div id="menu">
    <div class="localizacion">
        <p>Administración general</p>
    </div>
</div>

<section class="filtro">
    <label> Ordenar por: </label>
    <select class="browser-default custom-select" 
        [(ngModel)]="seleccionOrden" 
        (change)="ordenarOrganizaciones()" >
        <option [value]=1>
            Nombre Ascendente
        </option>
        <option [value]=2>
            Nombre Descendente
        </option>
    </select>
    <label> Filtrar por: </label>
    <select class="browser-default custom-select" 
        [(ngModel)]="seleccionFiltro" 
        (change)="filtrarOrganizaciones()" >
        <option [value]=1>
            Ninguno
        </option>
        <option [value]=2>
            Administrador/a
        </option>
        <option [value]=3>
            Organizacion
        </option>
    </select>
    <input class="form-control" (keyup)="applyFilter($event.target.value)" [placeholder]="filtroSeleccionado()" name="filtroContacto" *ngIf="show">
    
</section>
<section class="organizaciones">
    <table>
        <tr>
            <th>
                ORGANIZACION
            </th>
            <th>
                Administrador/a
            </th>
            <th>
                MODIFICAR
            </th>
            <th>
                ADMINISTRAR
            </th>
            <th>
                ELIMINAR
            </th>
        </tr>
        <tr *ngFor="let item of listaOrgMostradas">
            <td class="clickable" >
                {{item.desc_org}}
            </td>
            <td>
                {{item.contacto}}
            </td>
            <td>
                <button (click)="editar(item)" class="btnTabla">
                    <img src="assets/edit.png" alt="img">
                </button>
            </td>
            <td>
                <button (click)="administrar(item)" class="btnTabla">
                    <img src="assets/edit-etiquetas.png" alt="img">
                </button>
            </td>
            <td>
                <button (click)="borrar(item)" class="btnTabla">
                    <img src="assets/papelera.png" alt="img">
                </button>
            </td>
        </tr>
    </table>
    <button (click)="nueva()" class="btnAñadir btn btn-primary">
        <p>Añadir organización</p>
    </button>
</section>