@import "./../../assets/colors.css";

table {
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

table tr th{
    border-bottom: 1px solid black;
}

button{
    background: transparent;
    border-radius: 0.75rem;
}

img{
    height: 30px;
    width: 30px;
    background: transparent;
}

.clickable:hover{
    cursor: pointer;
}

.btnAñadir{
    width: 100%;
    background-color: var(--colorCopsActivas);
}

.filtro{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 3%;
}

.filtro *{
    margin: 1%;
    padding: 0%;
    display: inline-block;
    text-align: center;
    min-width: 11em;
    max-width: 12em;
}

.filtro input{
    text-align: center;
}
#menu{
    list-style-type: none;
    margin: 2em;
    margin-top: 7.5em;
    background-color: #760f82;
    border-radius: 1em;
    color: white;
    padding: 0%;
}

.localizacion{
    padding: 1%;
    width: 100%;
    margin: 0%;
    display: inline-block;
    margin: auto;
    text-align: center;
}
.localizacion>*{
    margin: 0;
    text-align: center;
    display: inline-block;
}
