
<section  class="filtro">
    <mat-form-field>
        <mat-label> Ordenar por: </mat-label>
        <mat-select [(ngModel)]="seleccionOrden" (selectionChange)="ordenarOrganizaciones()" >
            <mat-option [value]=1>
                Ascendente
            </mat-option>
            <mat-option [value]=2>
                Descendente
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Filtrar por: </mat-label>
        <mat-select [(ngModel)]="seleccionFiltro" (selectionChange)="filtrarOrganizaciones()" >
            <mat-option [value]=1>
                Ninguno
            </mat-option>
            <mat-option [value]=2>
                Contacto
            </mat-option>
            <mat-option [value]=3>
                Organizacion
            </mat-option>
        </mat-select>
    </mat-form-field>

    <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="filtroSeleccionado()" name="filtroContacto" *ngIf="show">
    
</section>
<section class="organizaciones">
    <table>
        <tr>
            <th>
                ORGANIZACION
            </th>
            <th>
                CONTACTO
            </th>
            <th>
                MODIFICAR
            </th>
            <th>
                ADMINISTRAR
            </th>
            <th>
                ELIMINAR
            </th>
        </tr>
        <tr *ngFor="let item of listaOrgMostradas">
            <td class="clickable" >
                {{item.desc_org}}
            </td>
            <td>
                {{item.contacto}}
            </td>
            <td>
                <button (click)="editar(item)">
                    <img src="assets/edit.png" alt="img">
                </button>
            </td>
            <td>
                <button (click)="administrar(item)">
                    <img src="assets/edit-etiquetas.png" alt="img">
                </button>
            </td>
            <td>
                <button (click)="borrar(item)">
                    <img src="assets/papelera.png" alt="img">
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <button (click)="nueva()" class="btnAñadir">
                    <p>AÑADIR</p>
                </button>
            </td>
        </tr>
    </table>
</section>