<section>
    <div class="opciones">
        <button class="btn btn-primary"(click)="nuevaLista()">Nueva Lista</button>
        <button class="btn btn-danger">Eliminar</button>
        <button class="btn btn-success">Curar</button>
        <button class="btn btn-success">Guardar y Salir</button>
    </div>
    <div class="clasificacion "  style="width: 100%; margin: auto;">
        <div class="list-group">
            
            <div class="list-group-item" *ngFor="let listaSenal of listaSenales">
                <app-drag-drop-list [senales]="listaSenal" [allDropList]="allDropList"></app-drag-drop-list>
            </div>
        </div>
    
    </div>
</section>