<header>
    <div class="hiTresna">
            <a>iTresna</a>
    </div>	
</header>
<section class="logSection">
			
    <article>
        <p>Bienvenido </p>
    </article>
    <form class="loginForm">
        <input type="text" placeholder="Nombre"/> <br>
        <input type="password" placeholder="Contraseña"/> <br>
        <a href="#" class="molvidada">Contraseña olvidada? </a>
    </form>

    <form  id="funciona" class="botonLogin" action="/Principal">
            <button class="botonlog " type="submit">Entrar</button>
            
    </form>

</section>

<router-outlet></router-outlet>