.contenedor{
    /*background-color:#CCC;*/
    display: inline-block;
    /*justify-content: space-between ;*/
     /*justify-content: space-around*/
}

.seleccionable{
    background-color:rgb(243, 239, 239);
}
.noSeleccionable{
    background-color:rgb(82, 80, 80);
    color: white;
}

.card{
    height: 15em;
    width: 15em;
    border-radius: 20px;
}


.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    margin: 0;
}
  
.card-front {
    transform: rotateY(0deg);
    width: auto;
    height: 100%;
    border-radius: 20px;
}

.card-body{
    padding: 0;
    border-radius: 20px;
}

.card-body img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

  
.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card-back *{
    text-align: center;
}
  
.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}
    
.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

