.contenedor{
    /*background-color:#CCC;*/
    height: 23.5em;
    margin: 0em;
    display: inline-block;
    justify-content: space-between ;
     /*justify-content: space-around*/
}

.contenido{
    height: 22em;
    width: 22em;
    margin: 10px;
    padding-top: 0.5em;
    background-color:#555453;
    border-radius: 1rem;
}
.seleccionable{
    background-color:#333;
}
.noSeleccionable{
    background-color:#BBB;
}


.contenido img{
    height: 10em;
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.contenido h3{ 
    text-align: center;
    font-size: 1.5em;
    color: #b3a3d3;

}
.noSeleccionable h3{
    color: #333;
}

.numeroSenales {

    font-size: 1.2em;
    margin-left: 13em;
    margin-bottom: 22em;
    color: #b3a3d3;
}


@media only screen and (min-width: 320px) {
    .contenido{
        height: 20em;
        width: 18em;
       
    }

    .contenido img{
        height: 8em;
        width: 8em;
    }


    .contenido h3{ 
        font-size: 1.2em;
    }

    .contenido p{
        margin-left: 60%;
        margin-top: 25%;
        font-size: 1em;
    }
     
}

@media only screen and (min-width: 375px) {

    .contenido{
        height: 22em;
        width: 22em;
       
    } 

    .contenido img{
        height: 10em;
        width: 10em;
    }

    .contenido h3{ 
        font-size: 1.5em;
    }

    .contenido p{
        margin-left: 60%;
        margin-top: 10%;
        font-size: 1em;
    }
}



@media only screen and (min-width: 2560px) {

  

   
}


