<section>
    <a href="">
        <img [src]="img" alt="">
    </a>
    <form [formGroup]="form">
        <mat-form-field id="nombreOrg">
            <input matInput
                placeholder="Nombre Organizacion"
                formControlName="orgName">
        </mat-form-field>
        <br>
        <mat-form-field id="descOrg">
            <input matInput
                placeholder="Descripcion Organizacion"
                formControlName="orgDesc">
        </mat-form-field>
        <br>
        <input
            type="file"
            formControlName="orgIcon">
    </form>
</section>