section{
    margin-top: 2%;
}

a{
    margin-top: 5%;
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

img{
    width: 100%;
}
.contenedor{
    display: inline-block;
    width: 70%;
    margin-left: 2%;
}

#nombreOrg{
   width: auto;
}

#descOrg{
    width: 100%;
}

#contacto{
    width: 30%;
}
.mat-raised-button{
    background: #EDDFFB ;
}
#enlace{
    width: 100%;
}