<section *ngIf="datosprevios">
        
    <form [formGroup]="form">
        <p>Campo Clasificatorio 1:</p>
        <mat-form-field id="clasif1">
            <input matInput
                formControlName="clasif1"/>
        </mat-form-field>
        <button (click)="editar(1)"> 
            <img class="papelera" src="./../../../assets/edit-etiquetas.png" alt="papelera">
        </button>
        <button (click)="guardarCambios(1)"> 
            <img class="papelera" src="./../../../assets/edit.png" alt="papelera">
        </button>

        <p>Campo Clasificatorio 2:</p>
        <mat-form-field id="clasif1">
            <input matInput
                formControlName="clasif2">
        </mat-form-field>
        <button (click)="editar(2)"> 
            <img class="papelera" src="./../../../assets/edit-etiquetas.png" alt="papelera">
        </button>
        <button (click)="guardarCambios(2)"> 
            <img class="papelera" src="./../../../assets/edit.png" alt="papelera">
        </button>

        <p>Campo Clasificatorio 2:</p>
        <mat-form-field id="clasif3">
            <input matInput
                formControlName="clasif3">
        </mat-form-field>
        <button (click)="editar(3)"> 
            <img class="papelera" src="./../../../assets/edit-etiquetas.png" alt="papelera">
        </button>
        <button (click)="guardarCambios(3)"> 
            <img class="papelera" src="./../../../assets/edit.png" alt="papelera">
        </button>
    </form>
</section>

<section *ngIf="editarClasificacion" >

    <button (click)="atrasClasificacion()" >
        <img src="./../../../assets/atras.svg" alt="atras">
    </button>

    <table class="edicionTabla">
        <tr>
            <th> Nombre </th>
            <th> Editar </th>
            <th> Eliminar </th>
        </tr>

        <tr *ngFor="let item of listaClasif;let i=index">
            <td>{{item}}</td>
            <td>
                <button (click)="editarCampo(item)">
                    <img  src="./../../../assets/edit.png" alt="papelera">
                </button>
            </td>
            <td>
                <button (click)="borrarCampo(item)">
                    <img src="./../../../assets/papelera.png" alt="papelera">
                </button>
            </td>

        </tr>
        <tr>
            <td colspan="3">
                <button  class="btnAñadir" (click)="anadircampo()"><!--(click)="addCategoria()"-->
                    <p>AÑADIR</p> 
                </button>
            </td>
        </tr>
    </table>
</section>