<section *ngIf="datosprevios">
    <form [formGroup]="form">
        <div class="calsif">
            <label>Campo Clasificatorio 1:</label>
            <input type="text" class="form-control" formControlName="clasif1" >
            <button class="btnItem" (click)="editar(1)"> 
                <img class="papelera" src="./../../../assets/edit-etiquetas.png" alt="papelera">
            </button>
            <button class="btnItem" (click)="guardarCambios(1)"> 
                <img class="papelera" src="./../../../assets/edit.png" alt="papelera">
            </button>
            <button class="btnItem" (click)="borrar(1)"> 
                <img class="papelera" src="./../../../assets/papelera.png" alt="papelera">
            </button>
        </div>
        <div class="calsif">
            <label>Campo Clasificatorio 2:</label>
            <input type="text" class="form-control" formControlName="clasif2" >
            <button class="btnItem" (click)="editar(2)"> 
                <img class="papelera" src="./../../../assets/edit-etiquetas.png" alt="papelera">
            </button>
            <button class="btnItem" (click)="guardarCambios(2)"> 
                <img class="papelera" src="./../../../assets/edit.png" alt="papelera">
            </button>
            <button class="btnItem" (click)="borrar(2)"> 
                <img class="papelera" src="./../../../assets/papelera.png" alt="papelera">
            </button>
        </div>
        <div class="calsif">
            <label>Campo Clasificatorio 3:</label>
            <input type="text" class="form-control" formControlName="clasif3" >
            <button class="btnItem" (click)="editar(3)"> 
                <img class="papelera" src="./../../../assets/edit-etiquetas.png" alt="papelera">
            </button>
            <button class="btnItem" (click)="guardarCambios(3)"> 
                <img class="papelera" src="./../../../assets/edit.png" alt="papelera">
            </button>
            <button class="btnItem" (click)="borrar(3)"> 
                <img class="papelera" src="./../../../assets/papelera.png" alt="papelera">
            </button>
        </div>

    </form>
</section>

<section *ngIf="editarClasificacion" >

    <button class="btnItem" (click)="atrasClasificacion()" >
        <img src="./../../../assets/atras.svg" alt="atras">
    </button>

    <table class="edicionTabla">
        <tr>
            <th> Nombre </th>
            <th> Editar </th>
            <th> Eliminar </th>
        </tr>

        <tr *ngFor="let item of listaClasif[listaCargada];let i=index">
            <td>{{item}}</td>
            <td>
                <button class="btnItem" (click)="editarCampo(item)">
                    <img  src="./../../../assets/edit.png" alt="papelera">
                </button>
            </td>
            <td>
                <button class="btnItem" (click)="borrarCampo(item)">
                    <img src="./../../../assets/papelera.png" alt="papelera">
                </button>
            </td>

        </tr>
    </table>
    <br>
    <button class="btn btn-primary" (click)="anadircampo()">
        AÑADIR
    </button>
</section>