
<section class="logSection">		
    <article>
        <p>Bienvenido </p>
    </article>
    <form class="loginForm" (ngSubmit) = "login()">
        <input type="text" name="usuario" placeholder="Usuario" [(ngModel)] = "usuario"/> 
        <br>
        <input type="password" name="password" placeholder="Contraseña" [(ngModel)] = "password"/> 
        <br>
        <pre> {{error}}</pre>
        <a href="#RecuperarContraseña"> ¿Contraseña olvidada? </a>
         <br>   
         <br>
         <button class="botonlog"  type="submit">Entrar</button>
    </form>

</section>
