.contenidoSenal{
    height: auto;
    padding: 1em;
    margin: 5%;
    margin-left: 0;
    margin-top: 0;
    width: auto;
    background-color:#555453;
    border-radius: 1em;
}
.contenidoSenaldiv>*{
    margin-left: 5%;
}
.textoSenal{
    display: inline-block;
    vertical-align: top;
    width:65%;
}
h2{
    display: block;
    text-align: center;
}
h3{
    text-align: justify;
    text-justify: inter-word;
}

.contenidoSenal img{
    height: auto;
    width: 25%;
}
.infoSenal{
    padding: 3%;
}
.infoSenal>*{
    display: inline-block;
    margin-left:2%;
    margin-right: 2%;
}
.zonaLike{
    width: 15%
}
.zonaLike>*{
    display: inline-block;
    margin: 2px;
}
.botonLike{
    color: rgba(223, 221, 221, 0.555);
    background-color: transparent;
    font-size: 25px;
    outline-width: 0;
    border:none;
}

.botonLike img{
    margin:0;
    height:20px;
    width:20px;
}
.etiqueta{
    width: 20%;
}
.comentario{
    height: 3em;
    display: flex;
    width: 50%;
    margin-top:-3em;
    background-color: #555453;
    color:white;
    font-family: 'Merienda', cursive;
}

.boton{
    color: rgba(223, 221, 221, 0.555);
    background-color: #555453;
    margin-left: 5%;
    font-size: 25px;
    outline-width: 0;
    border:none;
}

.boton img{
    height:30px;
    width:30px ;
}


.autor{
    display: inline-block;
<<<<<<< HEAD
    margin-left:70%;
=======
    width: 80%;
    text-align: right;
>>>>>>> fe8966a0960fbe95c6390e69225322c38c669438
}

button:hover{
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .contenidoSenaldiv{
        height: auto;
        width: 90%;
        margin-left: 5%;
    }

    .imgprueba{
        margin-left: 5% !important;
        width: 90% !important;
        height: auto !important;
        display: inline-block;

    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 800) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
    h2{
        font-size: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)*/
@media only screen and (min-width: 1440px) {
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
    }
}
@media only screen and (min-width: 2560px) {
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
}