<section class="contenidoSeñal">
        <a href="https://www.newgenapps.com/blog/trends-big-data-innovation-future-data-science" ><img class="imgprueba" src="assets/cyberSecurityData.jpg" alt="prueba" ></a>

        <div class="contenidoSeñaldiv">
            <h2>{{fecha}}</h2>
            <h3>{{titulo}}</h3>
            <p>{{texto}}</p>
        </div>

        

        <div class="infoSeñal">
                
            <button class="botonLike" (click) = like() type="submit"><img class="like" src="assets/like.png" alt="like" >  {{likes}}</button>
            <p clas="etiqueta" >Etiquetas: {{etiquetas}}</p>

            <select name="comentarios" class="comentario">
                    <option selected Values="0"> {{n}} Comentarios</option>
            </select>

            

        </div>

        <p class="autor">{{Autor}}</p>

        <button class="botonPapelera" type="submit"><img class="papelera" src="assets/papelera.png" alt="papelera" > </button>

</section>
