     .contenedorSeñales{
        /*background-color:#CCC;*/
        height: 23.5em;
        margin: 2em;
        display: flex;
        justify-content: space-between ;
         /*justify-content: space-around*/
    }

    .contenidoSeñal{
        height: 22em;
        width: 70em;
        float:left;
        margin: 10px;
        background-color:#555453;
        border-radius: 1rem;
    }
    .contenidoSeñal img{
        height: 10em;
        width: 15em;
        margin-left: 3em;
        margin-right: auto;
        margin-top: 3em;
        float: left;
    }
    
    .contenidoSeñaldiv{
        margin-top: 3em;
        margin-left: 20em;
        width: 45em;
        height: 10em;
    }
    .contenidoSeñaldiv h3{
        text-align: center;
        padding-top: 2em;
    
    }
    .contenidoSeñaldiv p{
        text-align: center;
        font-size: 1em;
        margin-left: 1em;
        margin-right: 1em;
        color: rgba(223, 221, 221, 0.555);
    }
    
    .infoSeñal{
        height: 5em;
        margin-top: 1em;
    }
    
    .infoSeñal p{
        float: left;
        margin-left: 3em;
        margin-top: 0em;
        height: 10em;
        width: 10em;
    }
    
    #comentario{
        float: right;
        margin-left: 1em;
        margin-right: 6em;
        height: 3em;
        width: 60em;
        background-color: #555453;
        color:white;
        font-family: 'Merienda', cursive;
    }
    
    .autor{
        text-align: right;
        margin-right: 4em;
    }
