
<div class="card w-100">
	<a [href]="senal.enlace" class="card-img-top">
			<img src="senal.imagen" class="card-img-top" alt="prueba">
	</a>
	<div class="card-body">
		<div class="row">
		<h5 class="card-title col-8 center">{{senal.titulo}}</h5>
		<div class="zonaLike inline-block" class="col-4">
			<button class="btn btnLike" (click) = like() type="submit">
				<img class="like" src="assets/like.png" alt="like" >
			</button>
			<p class="inline-block likes">{{senal.me_gustas}}</p>
		</div>
		</div>
		<div [ngClass]="acortado==true ? 'acortado':'extender'" style="z-index: 0;">
			<p class="card-text">{{senal.desc_senal}}</p>
			<p class="inline-block card-text"><small class="text-muted">Creado el {{senal.fecha_hora}}</small></p>
			<div class="escribirComentarios w-100">
				<button class="btn btn-primary w-100"  *ngIf="mostrarEnvio==false" (click)="mostrarEnvioComentarios()">Escribir Comentario</button>
				<form class="escribeComentario w-100" *ngIf="mostrarEnvio==true"> 
					<div class="input-group h-5">
						<textarea class="form-control custom-control" style="resize:none" name="comentarios" placeholder="Comentario" [(ngModel)]="str"  rows=2></textarea>
						<button class="input-group-addon btn btn-primary" (click)=nuevoComentario()>
							<img  src="assets/enviar2.png" alt="enviar">
						</button>
						<button class="input-group-addon btn btn-danger"  (click)="this.mostrarEnvio=false;">
							X
						</button>
					</div>
				</form>
			</div>
			<div class="mt-1">
				<button (click)="comentarios()" class="comentariosModal btn btn-primary w-100">
					Ver todos los comentarios
				</button>
			</div>
			<div class="comentarios w-100 mt-1">
					<p>Comentarios:</p>
					<ul class="list-group">
						<li class="list-group-item" style="list-style:none;border: black;" *ngFor="let item of listaComentarios | slice:0:2" class="comentario"> 
							<p><span style="font-weight: bold;">{{item.nombre_completo}}</span>: {{item.comentario}}</p> 
						</li>
					</ul>
			</div>
        </div>
	</div>

	
	<div class="card-footer" style="z-index: 10;">
		<div class="infoSenal">
			<p class="etiqueta center">{{buscarEtiqueta()}}</p>
			<p class="autor" style="text-align: center">{{senal.nombre_completo||"Anónimo"}}</p>			
			<div class="opciones center" *ngIf="puedeBorrar()" style="padding-left: 33%; padding-right: 33%;">
				<button class="btn" (click)="borrar()">
					<img src="assets/papelera.png" alt="papelera">
				</button>
				<button *ngIf="puedeEditar()" (click)="editar()" class="btn inline-block">
					<img src="assets/edit.png" alt="papelera">
				</button>
			</div>
		</div>
		<button class="btn center ampliar" (click)="mostrarSenalCompleta()" >
			<img [ngClass]="acortado==true ? 'derecho':'delReves'" src="assets/arrow.png">
		</button>
	</div>
</div>