.btn>img{
    width: 20px;
    height: 20px;
}
.inline-block{
    display: inline-block;
}
.center{
    text-align: center;
    margin: auto;
    display: block;
}
.etiqueta{
    font-size: 22px;
}
.likes{
    margin:0;
    top:25%;
}
.acortado{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition:  max-height 0.5s ease-out;
    overflow: hidden;
}
.extender {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition:  max-height 0.5s ease-in;
    overflow: hidden;
}
.comentarios{
    border:1px;
    padding: 4%;
    padding-top: 1%;
    background: #AAA;
    border-radius: .5rem;
}
.ampliar{
    width: 50%;
}
.derecho{
    transform: scale(1);
}
.delReves{
    transform: scale(-1);
}
.card{
    box-shadow: 2px 3px lightslategray;
}