<div class="contenedorSeñales">

        <button class="botonFiltrar" (click) = visibilidad() type="submit">Filtrar</button>
        <button class="botonCurar"  type="submit">Curar</button>
        
    <div class="filtrado" *ngIf="visible">

            <select name="filtro" class="filtrar">
                <option value="fechaAsc" > Por fecha ascendente</option>
                <option value="fechaDesc" > Por fecha descendente</option>
                <option Value="likes" > Por likes</option>
                <option value="comentarios" > Por comentarios</option>
            </select>

            <select name="filtroUsuarios"  class="filtrar">
                <option value="usuarios" > Por usuarios</option>
                <option value="usu1" > usuario1</option>
                <option value="usu2" > usaurio2</option>
            </select>

            <select name="filtroEtiquetas"  class="filtrar">
                <option value="etiquetas" > Por etiquetas</option>
                <option value="et1" > etiqueta1</option>
                <option value="et2" > etiqueta2</option>
                
            </select>


    </div>
    

 
<section class="contenidoSeñal">
        <a href="https://www.newgenapps.com/blog/trends-big-data-innovation-future-data-science" ><img class="imgprueba" src="assets/cyberSecurityData.jpg" alt="prueba" ></a>

        <div class="contenidoSeñaldiv">
            <h2>{{fecha}}</h2>
            <h3>{{titulo}}</h3>
            <p>{{texto}}</p>
        </div>

        

        <div class="infoSeñal">
                
            <button class="botonLike" (click) = like() type="submit"><img class="like" src="assets/like.png" alt="like" >  {{likes}}</button>
            <p clas="etiqueta" >Etiquetas: {{etiquetas}}</p>

            <select name="comentarios" class="comentario">
                    <option selected Values="0"> {{n}} Comentarios</option>
            </select>

            

        </div>

        <p class="autor">{{Autor}}</p>

        <button class="botonPapelera" type="submit"><img class="papelera" src="assets/papelera.png" alt="papelera" > </button>

</section>

</div>
