<div class="card w-100">
	<div class="card-body">
		<div class="row">
		<h5 class="card-title col-8 center">{{titulo}}</h5>
		<div class="zonaLike inline-block" class="col-4">
			<button class="btn btnLike" (click) = like() type="submit">
				<img class="like" src="assets/like.png" alt="like" >
			</button>
			<p class="inline-block likes">{{senal.me_gustas}}</p>
		</div>
		</div>
		<div style="z-index: 0;">
			<p class="card-text">{{senal.desc_senal}}</p>
			<p class="inline-block card-text"><small class="text-muted">Creado el {{senal.fecha_hora}}</small></p>
			<p class="autor" style="text-align: center">{{senal.nombre_completo||"Anónimo"}}</p>	
        </div>
	</div>
</div>
