<div 
    id="{{senales.nombre}}"
    class="example-list senal-container"
    [cdkDropListData]="senales.senales"
    [cdkDropListConnectedTo]="allDropList"
    (cdkDropListDropped)="drop($event)"
    cdkDropList>
    <h2>{{senales.nombre}}</h2>
    <div *ngIf="comprobarSiNoRelevanteOEliminar(senales.nombre)">
        <button (click)="eliminarLista()">
            <img src="assets/papelera.png" alt="">
        </button>
        <button (click)="generarSenalRelevante()">
            <img src="./../../assets/edit-etiquetas.png">
        </button>
    </div>
    
    <div class="example-box" *ngFor="let senal of senales.senales" cdkDrag>
        <app-p-objeto-curacion style="margin: 0%; padding: 0%;" [senal]="senal"></app-p-objeto-curacion>
    </div>
</div>
