@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html {
    background-color: rgba(98, 96, 96, 0.555);
    overflow-x: hidden;
    color: black;
    font-family: 'Merienda', cursive;
}
body {
  margin:0;
}
footer{
  background-color: #000000d7;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  padding-left: 1em;
  height: 5%;
  
} 
h2{
  font-family: 'Cinzel', serif;
}
<<<<<<< HEAD
=======


@media only screen and (min-width: 320px) {

  footer{
    height: 4%;
  } 

  footer p{
    font-size: 12px;
  }


}


@media only screen and (min-width: 375px) {
  footer p{
    font-size: 14px;
  }
}


>>>>>>> 300f3803401582505a3bdd3ad6a52eff40818664
