@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html {
  /*background-color: rgba(98, 96, 96, 0.555);*/
  overflow-x: hidden;
  color: black;
  font-family: 'Merienda', cursive;
  height: 100%;
  
   
}
body {
  margin:0;
  background: #F1E7F2;
  height: 100%;
 
}

h2{
  font-family: 'Cinzel', serif;
}

@media only screen and (min-width: 320px) {

  footer{
    height: 4%;
  } 

  footer p{
    font-size: 12px;
  }


}


@media only screen and (min-width: 375px) {
  footer p{
    font-size: 14px;
  }
}



footer{

  background-color: #000000d7;
  width: 100%;
  color: white;
  padding: 0.5em;
  height: 3em;  
  z-index: 0;
  
 

} 

.footerIber{
  margin-top: -3%;
  text-align: right;
  
}

.imgTxur{
 
  height: 40px;
  width: 50px;

}

.imgFp{

  height: 40px;
  width: 40x;
  margin-left: 40%;

}

.imgTknika{
 
  height: 40px;
  width: 40x;
  margin-left: 1%;
  
}

.imgIber{
  
  height: 30px;
  width: 70px;
  margin-left: 38%;
  
}