<section>
    <table>
        <tr>
            <th class="nombre">Nombre</th>
            <th class="borderth">Orden</th>
            <th class="borderth">Indice curación</th>
            <th class="borderth">Editar</th>
        </tr>
        <tr *ngFor="let item of listaEspacios"  class="fila">
            <td>{{item.desc_esp}}</td>
            <td>{{item.orden}}</td>
            <td><input type="checkbox" [checked]="item.ind_esp_curacion" value="item.ind_esp_curacion" (change)="setIndCuracion(item)"></td>
            <td>
                <button (click)="editar(item.cod_org,item.cod_esp)" class="boton">
                    <img class="papelera" src="assets/edit.png" alt="papelera">
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button class="btnAñadir">
                    <p>AÑADIR</p>
                </button>
            </td>
        </tr>
    </table>
</section>
