<section>
    <table>
        <tr>
            <th class="nombre">Nombre</th>
            <th>Orden</th>
            <th>Indice curación</th>
            <th>Editar</th>
        </tr>
        <tr *ngFor="let item of listaEspacios"  class="fila">
            <td>{{item.desc_esp}}</td>
            <td>{{item.posicion}}</td>
            <td><input type="checkbox" [checked]="item.ind_esp_curacion"></td>
            <td>
                <button (click)="editar(item)" class="boton">
                    <img class="papelera" src="assets/edit.png" alt="papelera">
                </button>
            </td>
        </tr>
        <tr>
            <th colspan="4">
                <button>
                    <p>AÑADIR</p>
                </button>
            </th>
        </tr>
    </table>
</section>
