.cabecera{
    background-color: #000000d7;
    width: 100%;
    margin:0;
}

.cabecera section img{
    width: 20%;
    display: inline-block;
    margin:2%;
    margin-top: 0;
    margin-bottom: 0;
}

.cabecera section p{
    width: 60%;
    margin:2%;
    margin-left: 8%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-style: italic ;
    color:white;
    display: inline-block;
    text-align:center;
    vertical-align: top;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    /*background-color: #555453;*/
    border-radius: 1em;
    text-align: center;
    margin-top: 0;
}
#menu>ul>li {
    display: inline-block;
    padding: 1em;
    color: white;
    border-radius: 1em;
}
#menu>ul>li:hover{
    cursor: pointer;
}
/*Cops*/

.seleccionado{
    background: #888;   
}

.listaCops{
    list-style: none;
    padding: 0;
    text-align: center;
}  

.listaCops li{
    vertical-align: top;
    display: inline-block;
    margin: 2%;
}

