<header>		
    <div class="hiTresna">
            <a>iTresna <p>{{usuarioLogado.nombre}}</p> </a>
    </div>

    <nav id="administracion">
        <ul>
            <li><a href=".html"><img class="imgMenu" src="assets/menu.svg" alt="Menu"></a>
                <ul>
                    <li><a href=".html">Perfil</a></li>
                    <li><a href=".html">Administración</a></li>
                    <li><a href=".html">Cerrar sesión</a></li>
                    <li><a href=".html">Idiomas</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</header>

<!-- Menu-->
<nav id="menu">
    <ul>
        <li *ngFor="let item of listaEspacios; let i = index" (click)="cambiarSeleccionado(i)">
            <div [ngClass]="(i===selected) ? 'seleccionado':'noSeleccionado'">
                {{item.desc_esp}}
            </div>
        </li>
    </ul>
</nav>


<div>
    <ul class="listaCops">
        <li *ngFor="let item of obtCops(); let i = index" >
            <a routerLink="/Cops" [queryParams]="{copSeleccionado:item.cod_cop,codEspacio:item.cod_esp,admin:item.ind_admin}">
                <cops-component [ind_admin]="(estaEnPermisos(item))?true:false"  [desc_cop] ="item.desc_cop" [cantidad_senales]="item.cantidad_senales"></cops-component> 
            </a>    
        </li>
    </ul>
    
    <p>{{desc_cop}}</p>
</div>