<div class="cabecera">
    <section>
        <a [href]="organizacion.enlace_org"><img [src]="organizacion.img_org" alt=""></a>
        <p>
            {{organizacion.eslogan_org}}
        </p>

    </section>
    <!-- Menu-->
    <nav id="menu">
        <ul>
            <li *ngFor="let item of listaEspacios; let i = index" (click)="cambiarSeleccionado(i)" [ngClass]="(i===selected) ? 'seleccionado':'noSeleccionado'">
                {{item.desc_esp}}
            </li>
        </ul>
    </nav>
</div>

<div>
    <ul class="listaCops">
        <li *ngFor="let item of obtCops(); let i = index" >
            <a *ngIf="estaEnPermisos(item); else elsePermisos" routerLink="/Cops" [queryParams]="{copSeleccionado:item.cod_cop,codEspacio:item.cod_esp}">
                <cop-component [ind_admin]="(estaEnPermisos(item))?true:false"  [desc_cop] ="item.desc_cop" [cantidad_senales]="item.cantidad_senales" [img]="item.img_cop"></cop-component> 
            </a>
            <ng-template #elsePermisos>
                <a >
                    <cop-component [ind_admin]="(estaEnPermisos(item))?true:false"  [desc_cop] ="item.desc_cop" [cantidad_senales]="item.cantidad_senales" [img]="item.img_cop"></cop-component>
                </a>
            </ng-template>
        </li>
    </ul>
    
    <p>{{desc_cop}}</p>
</div>