.cabecera{
    background-color: #760f82;
    width: 100%;
    margin:0;
    margin-top: 5em;
}

.cabecera section img{
    width: 10%;
    display: inline-block;
    margin: 2%;
    margin-left: 5%;
}

.cabecera p{
    width: 70%;
    margin:2%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-style: italic ;
    color:white;
    display: inline-block;
    text-align:left;
    vertical-align: middle;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    /*background-color: #555453;*/
    border-radius: 1rem;
    text-align: center;
    margin-top: 0;
}
#menu li {
    display: inline-block;
    padding: 1em;
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}
#menu li:hover{
    cursor: pointer;
    background: #540b5d;
}
/*Cops*/

.seleccionado{
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #540b5d;
    
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #540b5d;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #540b5d;
}

.listaCops{
    list-style: none;
    padding: 0;
    text-align: center;
}  

.listaCops li{
    vertical-align: top;
    display: inline-block;
    margin: 2%;
}

