/*Header y menu*/
header {
    padding-left: 1em;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
    background-color: #000000;
    height: 5em;
 }

.hiTresna a{
    height: 50%;
    color: #9684bb;
    font-size: 3rem;
    display: inline-block;
}

.hiTresna p{
    font-size: 1.5rem;
    display: inline-block;
    color: #9684bb;
    margin-left: 1em;
    
}