<section>
    <mat-form-field class="filtro">
        <mat-label>Selecciona una clasificacion</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="filtrarCategorias($event.value)" >
            <mat-option *ngFor="let item of listaClasificacion;let i=index" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filtro">
        <mat-label>Selecciona una categoria</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="cargarCategorias()" >
            <mat-option *ngFor="let item of listaCategorias;let i=index" [value]="item">
                {{item.categoria}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Other filter">

    <table>
        <tr>
            <th rowspan="3">EMAIL</th>
            <th colspan="3">USUARIOS</th>
            <th colspan="3">DATOS CLASIFICATORIOS</th>
            <th colspan="listaCops.size">PERMISOS</th>
        </tr>
        <tr>
            <th rowspan="2">Nombre</th>
            <th rowspan="2">Apellido 1</th>
            <th rowspan="2">Apellido 2</th>
            <th rowspan="2">{{listaClasificacion[0]}}</th>
            <th rowspan="2">{{listaClasificacion[1]}}</th>
            <th rowspan="2">{{listaClasificacion[2]}}</th>
            <th *ngFor="let item of listaCops" colspan="2">{{item.desc_cop}}</th>
        </tr>
        <tr>
            <div *ngFor="let item of listaCops">
                <th>Uso</th>
                <th>Admin</th>
            </div>
        </tr>
        
    </table>
</section>
