<section class="eleccion">
    <div>
        <input type="radio" id="Permisos" name="drone" value="permisos"
               (click)="permiso()">
        <label for="permisos">Permisos</label>
    </div>

    <div>
        <input type="radio" id="Usuarios" name="drone" value="usu"
                (click)="usuario()">
        <label for="usu">Gestionar usuarios</label>
    </div>
</section>

<gestion-usuarios *ngIf="usuarios"></gestion-usuarios>
<app-permisos *ngIf="permisos"></app-permisos>


  

