<section>
    <mat-form-field class="filtro">
        <mat-label>Selecciona una clasificacion</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="filtrarCategorias($event.value)" >
            <mat-option *ngFor="let item of listaClasificacion;let i=index" [value]="item">
                {{item}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filtro" *ngIf="show">
        <mat-label>Selecciona una categoria</mat-label>
        <mat-select [(value)]="selectedCategoria" >
            <mat-option *ngFor="let item of listaCategorias;let i=index" [value]="item">
                {{item.categoria}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="filtro" >
        <mat-label>Selecciona un espacio</mat-label>
        <mat-select [(value)]="selectedEspacio" (selectionChange)="cargarCops($event.value)" >
            <mat-option *ngFor="let item of listaEspacios;let i=index" [value]="item">
                {{item.desc_esp}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filtro" *ngIf="showCops" >
        <mat-label>Selecciona una cop</mat-label>
        <mat-select [(value)]="selectedCop" (selectionChange)="cargarTabla($event.value)" >
            <mat-option *ngFor="let item of listaCops;let i=index" [value]="item">
                {{item.desc_cop}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Other filter">

    <table *ngIf="showTabla">
        <tr>
            <th rowspan="3">EMAIL</th>
            <th colspan="3">USUARIOS</th>
            <th colspan="3">DATOS CLASIFICATORIOS</th>
            <th colspan="2">PERMISOS</th>
        </tr>
        <tr>
            <th rowspan="2">Nombre</th>
            <th rowspan="2">Apellido 1</th>
            <th rowspan="2">Apellido 2</th>
            <th rowspan="2">{{listaClasificacion[0]}}</th>
            <th rowspan="2">{{listaClasificacion[1]}}</th>
            <th rowspan="2">{{listaClasificacion[2]}}</th>
            <th colspan="2">{{selectedCop.desc_cop}}</th>
        </tr>
        <tr>
            <th>Uso</th>
            <th>Admin</th>
        </tr>

        <tr *ngFor="let item of listaUsuarios; let i=index">
            <td>{{item.cod_usuario}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.ape1}}</td>
            <td>{{item.ape2}}</td>
            <td>{{item.campo_clasificador1}}</td>
            <td>{{item.campo_clasificador2}}</td>
            <td>{{item.campo_clasificador3}}</td>
            <td><input type="checkbox" name="uso" value=""></td>
            <td><input type="checkbox" name="admin" value=""></td>
        </tr>
        
    </table>
</section>
