<section>
    <h2>Siga los pasos para recuperar su contraseña</h2>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Introduzca su nombre de usuario</label>
          <input type="email" class="form-control" id="exampleInputEmail1" 
                aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="userEmail" [ngModelOptions]="{standalone: true}">
          <small id="emailHelp" class="form-text text-muted">
              El formato correcto es de tipo email.
          </small>
        </div>
    </form>
    <button type="button" class="btn btn-light" (click)="enviarEmail()">Siguiente</button>
</section>