<section>
    <form class="contenedor" [formGroup]="form">
        <input type="text"
            placeholder="Nombre"
            formControlName="nombreUsu">
        <br>
        <input type="text"
            placeholder="Primer apellido"
            formControlName="ape1Usu">

        <br>
        <input type="text"
            placeholder="Segundo apellido"
            formControlName="ape2Usu">
        <br>
        <input type="text"
            placeholder="E-mail"
            formControlName="emailUsu">
        <br>
        <button *ngIf="deshabilitado" type="button" class="btn btn-light" (click)="editarPerfil()">Editar</button>
        <button *ngIf="!deshabilitado" type="button" class="btn btn-success" (click)="editarPerfil()">Guardar</button>
        <button type="button" class="btn btn-light" (click)="modificarContrasena()">Modificar contraseña</button>
    </form>
</section>