
<body>

    <app-header-generico ></app-header-generico>

    <router-outlet></router-outlet>  

</body>

<footer>
    
    <a href='http://www.fptxurdinaga.hezkuntza.net/es'>
        <img class="imgTxur" src="assets/LogoTxurdinaga.png" alt="img">
    </a>
    <a href="https://www.euskadi.eus/gobierno-vasco/fp-educacion/"> 
        <img  class="imgFp"src="assets/logofp.png" alt="img">
    </a>
    <a href="https://tknika.eus/">
        <img class="imgTknika" src="assets/tknika.png" alt="img">
    </a>
    <a href="https://ibermatica.com/">
        <img  class="imgIber" src="assets/Iberma.png" alt="img">
    </a>

</footer>