<ng-container class="form-row" *ngFor="let item of intData">
    <h2 class="modal-title">Administración</h2>
    <form [formGroup]="formGroup" class="form-group"></form>
        <app-input-field [(formGroup)]="formGroup"
                        [data]="item.data"
                        [controlName]="item.controlName" 
                        [placeHolder]="item.placeHolder" 
                        *ngIf="item.input==='inputField'">
        </app-input-field>


        <app-password-field [(formGroup)]="formGroup"
                        [data]="item.data"
                        [controlName]="item.controlName" 
                        [placeHolder]="item.placeHolder" 
                        *ngIf="item.input==='passwordField'">
        </app-password-field>
        
        <app-file-field [(formGroup)]="formGroup"
                    [controlName]="item.controlName" 
                    [placeHolder]="item.placeHolder" 
                    *ngIf="item.input==='fileField'">

        </app-file-field>
        
        <app-select-field [(formGroup)]="formGroup"
                        [data]="item.data" 
                        [controlName]="item.controlName" 
                        [placeHolder]="item.placeHolder" 
                        *ngIf="item.input==='selectField'">
        </app-select-field>
        
        <app-checkbox-field [(formGroup)]="formGroup"
                        [data]="item.data" 
                        [controlName]="item.controlName" 
                        [placeHolder]="item.placeHolder" 
                        *ngIf="item.input==='checkboxField'">
        </app-checkbox-field>

        <app-number-field [(formGroup)]="formGroup"
                        [data]="item.data"
                        [controlName]="item.controlName" 
                        [placeHolder]="item.placeHolder" 
                        *ngIf="item.input==='numberField'">
        </app-number-field>
    </form>
    <button type="button" class="btn btn-primary" (click)="save()">Publicar</button>
</ng-container>



